@import url("normalize.css");
@import url("fontello.css");

/* reset */

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, address {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  font: inherit;
  font-weight: 900;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}


/* layout */

body {
  background-color: rgb(247, 247, 247);
  font-size: 1.0rem;
  font-family: sans-serif;
  color: rgb(17, 17, 17);
}

.wrapper {
  background-color: rgb(245, 245, 245);
  background-image: url("images/0357f161cd880b6.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right 0;
}

.header, .intro, .body, .slogan, .bg-footer {
  width: 940px;
  margin: 0 auto;
}

.readable-hidden, legend{
  /* 
  접근할 수 없게 만들어줌. 일시적인 숨김처리를 할때만 써주는 용도.
  display: none; 
  clip 속성을 통해 숨김 처리를 함
  overflow: 혹시 몰라서하는 의도
  */
  background-color: rgb(238, 238, 238);
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  margin: -1px;

}


/* header */
.header {
  background-color: rgba(245, 245, 245, 0.76);
  background: linear-gradient(#f3f3f3, #f0f0f06e);
  height: 150px;
  padding: 30px;
  /* border-left: thick double #0c0c0cbe; */
  /* border-bottom: thick double #0c0c0cbe; */
  /* border-right: thick double #0c0c0cbe; */
  border-radius: 0 0 20px 20px; 
  box-shadow: -0px -1px 5px  #0c0c0cbe;
  /* position: fixed; */
}

/* logo */

.logo {
  width: 320px;
  font-size: 4.0rem;
  text-align: center;
  padding: 30px 5px 3px 5px;
  overflow: visible;
  line-height: 1.0;
  text-transform: uppercase;
  cursor: pointer;
}

/* my-menu */

.my-menu {
  display: flex;
  justify-content: flex-end;
  margin-top: -95px;
  
}

.my-menu li {
  margin: 0;
  padding: 0px;
  text-transform: uppercase;
  color: rgb(48, 48, 48);
  cursor: pointer;

}

.my-menu li a {
  padding: 0 10px;
  margin: 4px;
}

.my-menu li:nth-child(n+2)::before {
  content: ":";
}

/* navigation */

.category-menu {
  display: flex;
  justify-content: flex-end;
  margin-top: 42px;
}

.category-menu li.item-menu:nth-child(n+2)::before {
  content: "|";
}

.item-menu span {
  padding: 0 15px;
  cursor: pointer;
}

.text-item-menu {
  font-size: 1.2rem;
}


.sub-menu {
  position: absolute;
  top: 125px;
  display: flex;
  color: rgb(17, 17, 17);
  
}

.sub-menu li a {
  padding: 0 10px;

}

.item-menu:nth-child(1) .sub-menu {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.836);
  padding: 10px 0 0 0;

  display: none;
} 
.item-menu:nth-child(2) .sub-menu {
  display: none;
} 
.item-menu:nth-child(3) .sub-menu {
  display: none;
} 
.item-menu:nth-child(4) .sub-menu {
  display: none;
} 
.item-menu:nth-child(5) .sub-menu {
  display: none;
} 
.item-menu:nth-child(6) .sub-menu {
  display: none;
} 


/* intro */




.intro {
  /* background-color: rgb(83, 0, 0); */
  width: 940px;
  height: 200px;
  position: relative;
  background-image: url("images/Green-Leaves-PNG-Clipart.png");
  background-size: 30%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 25% 35%;
  
}
/* 
.intro::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("images/bg_flower.png") no-repeat;
  background-attachment: fixed;
  background-position: left 0;

} */
@keyframes bounce01 {
  0%   {top: 0px; opacity:0}
  25%  {top: 160px;}
  100% {top: 100px;}
}

@keyframes bounce02 {
  0%   {top: -100px;opacity:0}
  25%  {top: 60px;}
  100% {top: 100px;}
} 

@keyframes bounce03 {
  0%   {top: 0px;opacity:0}
  25%  {top: 120px;}
  100% {top: 100px;}
}

@keyframes bounce04 {
  0%   {top: 0px;opacity:0}
  25%  {top: 170px;}
  100% {top: 100px;}
}

.forall {
  position: relative;
  animation: bounce01 5s;
  left: 110px;
  top: 100px;
  font-size: 2rem;
  text-transform: uppercase;
}

.web {
  position: relative;
  animation: bounce02 5s;
  left: 120px;
  top: 100px;
  font-size: 2rem;
  text-transform: uppercase;
}

.and {
  position: relative;
  animation: bounce03 5s;
  left: 130px;
  top: 100px;
  font-size: 2rem;
  text-transform: uppercase;
}

.access {
  position: relative;
  animation: bounce04 5s;
  left: 140px;
  top: 100px;
  font-size: 2rem;
  text-transform: uppercase;
}


/* main */

.body {
  
  background: linear-gradient(to bottom, #f0f0f0c4, #f3f3f3);
  /* background-color: rgba(150, 23, 23, 0.76); */
  height: 700px;
  border-radius: 20px 20px 0 0;
  padding: 20px 0 20px 0;
}

.group::after { 
  content: "";
  clear: both;
}

.group01{
  background: radial-gradient(circle at right top, rgba(139, 87, 9, 0.404), rgba(214, 0, 0, 0.541));
  float: left;
  width: 300px;
  border-radius: 10px;
  margin: 0 0 0 20px;
  height: 460px;
}

.group02 {
  background: radial-gradient(circle at left top, rgba(139, 87, 9, 0.404), rgba(214, 0, 0, 0.541));
  width: 340px;
  padding: 10px;
  margin: 0 0 0 20px;
  float: left;
  border-radius: 10px;
  height: 460px;
}

.group03 {
  background: radial-gradient(circle at right top, rgba(139, 87, 9, 0.404), rgba(214, 0, 0, 0.541));
  width: 220px;
  padding: 10px;
  margin: 0 0 0 20px;
  float: left;
  border-radius: 10px;
  height: 460px;
}

/* 로그인 */

.login {
  padding: 10px;
  margin: 10px;
  background-color: #1d1d1d93;
  border-radius: 5px 5px 5px 5px;
  padding: 10px 10px 10px 10px;
  box-shadow: 3px 3px rgba(17, 17, 17, 0.274);
} 


.title-login {
  color: rgb(245, 245, 245);
  font-size: 1rem;
  font-weight: 900;
  width: 300px;
  margin: 5px 0 5px 5px;
} 

.form-login fieldset {
  margin: 5px;
  padding: 0 0 10px 0;
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.171);
  /* for login btn */
  position: relative;
  
}

.idbox-login, .pwbox-login {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px 0 4px 0;
  padding: 0;

}

.idbox-login input, .pwbox-login input {
  padding: 3px 0 0 3px;
  font-size: 0.9rem;
}

.form-login [for="id-login"], .form-login [for="pw-login"] {
  /* background-color: #0c0c0cbe; */
  width: 80px;
  display: inline-block;
  padding-top: 4px;
}

.form-login [type="email"], .form-login [type="pw"]{
  /* background-color: #0c0c0cbe; */
  width: 110px;
  height: 20px;
  border: 1px solid #aaa;
  box-shadow: 2px 2px 2px rgba(27, 27, 27, 0.63);
  border-radius: 4px;
}

.btn-login {
  position: absolute;
  top: 4px;
  right: 0;
  width: 60px;
  height: 50px;
  padding: 0;
  border: 0px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: rgba(17, 17, 17, 0.637);
  box-shadow: 2px 2px 2px rgba(27, 27, 27, 0.63);
  color: #fff;
  font: inherit;
}

.sign { 
  /* background-color: #aaa; */
  padding: 3px 5px 0 5px;
  display: flex;
  justify-content: flex-end;

}


.sign a {
  margin: 0 0 0 20px;
  padding: 5px 0;
  display: inline-block;
  color: rgb(243, 243, 243);
  font-size: 0.8rem;
  font-weight: 500;
}


/* link btn */

.validation-link li:nth-child(1) {
  margin: 30px 10px 0 10px;
}

.validation-link li:nth-child(2) {
  margin: 10px 10px 30px 10px;
}



.validation-link li:nth-child(1), .validation-link li:nth-child(2){
  background-color: rgb(63, 45, 48);
  padding: 11px 10px 10px 10px;
  border-radius:100px;
  text-align: center;
  color: rgb(243, 243, 243);
  box-shadow: 2px 2px rgba(17, 17, 17, 0.274);
}

/* defination */

.term {
  background-color: rgb(63, 45, 48);
  margin: 0 10px 10px 10px;
  /* border: 0px solid rgb(255, 255, 255); */
  border-radius: 5px;
  box-shadow: 2px 2px 0px rgba(17, 17, 17, 0.274);
  color: #fff;
  padding: 10px;
}

.term-heading {
  margin-top: 5px;
  font-size: 1rem;
}
.term-list::after{
  display: block;
  content: "";
  clear: both;
} 

.term-list-thumnail {
  float: left;
  margin-top: 10px;
}

.term-list-subject, .term-list-brief {
  float: right;
  width: 190px;
  font-weight: 400;
  font-size: 0.84rem;
  margin-top: 10px;
}

/* 검색 */

.search-form {
  padding: 10px;
  width: 320px;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(to bottom,rgb(63, 45, 48), rgba(255, 255, 255, 0));
}

.searchform-wrapper {
  display: flex;
  justify-content: space-between;
}

.icon-search {
  padding: 2px 0 0 0;
  margin: 0 -4px 0 0;

}

#search {
  border: 1px solid rgb(240, 240, 240);
  border-radius: 2px;
  width: 220px;
  font-size: 0.8rem;
  padding: 4px 0 0 10px;
  box-shadow: 2px 2px 0px rgba(17, 17, 17, 0.274);
}

.btn-search {
  background: linear-gradient(to bottom, rgb(255, 255, 255), #aaa);
  border: 1px solid linear-gradient(to bottom, rgb(255, 255, 255), #aaa);
  border-radius: 2px;
  font-size: 0.8rem;
  color: rgb(71, 71, 71);
  width: 40px;
  padding: 4px 0 0 0;
  box-shadow: 2px 2px 0px rgba(17, 17, 17, 0.274);
}

/* 보드 */

.board {
  position: relative;
  margin-top: 20px;
}


.notice {
  font-size: 0.8rem;
  position: relative;
}


.notice-heading, .pds-heading {
  float: left;
  width: 70px;
  height: 30px;
  background-color: rgb(236, 236, 236);
  padding: 5px;
  cursor: pointer;
  
}

.tab {
  display: block;
  background-color: rgb(128, 128, 128);
  border-radius: 5px 5px 0 0;
  text-align: center;
  padding-top: 8px;
  cursor: pointer;
} 

.is-act .tab {
  background-color: rgb(245, 245, 245);
  border-radius: 5px 5px 0 0;
  text-align: center;
  padding-top: 8px;
  cursor: pointer;
}

.is-act .notice-list {
  display: inline-block;
  background-color: rgb(245, 245, 245);
  width: 320px;
  border-radius: 0 5px 5px 5px;
  padding: 10px;
}

.notice-list a, .pds-list a {
  margin-top: 5px;
  display: inline-block;
  width: 210px;
}



.tab .pds-list {
  display: inline-block;
  background-color: rgb(128, 128, 128);
  width: 320px;

}

.notice-list li::after, .pds-list li::after{
  content: "";
  display: block;
  clear: both;
}


.notice-more, .pds-more {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px 10px 0 0;
  text-decoration-line: underline;
  text-decoration-color: #0c0c0cbe;
  color: #0c0c0cbe;
}


.notice-list a, .notice-list time, .pds-list a, .pds-list time {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
} 


.notice-list time, .pds-list time {
  display: inline-block;
  width: 86px;
  text-align: right;
}



.pds {
  font-size: 0.8rem;
  position: absolute;
  top: 0;
  left: 0;
}

.pds-heading {
  margin-left: 72px; 
}

.pds-list {
  background-color: rgb(128, 128, 128);
  display: none;
}

.pds-more {
  background-color: #aaa;
  display: none;
}


/* 새소식 */

.news {
  background-color: rgb(236, 236, 236);
  width: 320px;
  height: 185px;
  margin-top: 20px;
  border-radius: 5px;
  position: relative;
  padding: 10px;
  
}


.news-heading::after{
  content: "";
  display: block;
  width: 300px;
  height: 2px;
  background: linear-gradient(to right, rgba(165, 0, 0, 0.5), rgba(255, 255, 255, 0));
  margin-top: 5px;
}

.news-item {
  margin: 15px 0 0 -5px;
}

.news-item::after {
  /* background-color: aquamarine; */
  content: "";
  display: block;
  clear: both;
}

.news-item-heading {
  /* background-color: peru; */
  width: 180px;
  float: right;
  font-size: 0.8rem;
}

.news-item-date {
  /* background-color: gray; */
  font-size: 0.7rem;
  font-weight: 400;
  width: 180px;
  float: right;
}

.news-item-brief {
  /* background-color: red; */
  width: 180px;
  height: 100px;
  float: right;
  font-size: 0.7rem;
  font-weight: 600;
  margin-top: 10px;
  line-height: 1.2rem;
}

.news-item-thumbnail {
  /* background-color: greenyellow; */
  text-align: center;
}

.news-item-thumbnail img {
  margin: 0 2px 0 -6px;
  box-shadow: 2px 2px 1px rgb(209, 209, 209);
}
.news-item-thumbnail figcaption {
  margin: 10px 0 0 -6px;
  font-size: 0.6rem;
}

.news-more {
  /* background-color: pink; */
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px 10px 10px 10px;
  text-decoration-line: underline;
  text-decoration-color: #0c0c0cbe;
  color: #0c0c0cbe;
  font-size: 0.8rem;
}



  /* event */

.event-related {
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  background: rgb(236, 236, 236);
} 



.event {
  /* background-color: aqua; */
  position: relative;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.event-heading {
  /* background-color: red; */
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.event-thumbnail {
  background-color: pink;
  width: 160px;
  height: 80px;
  margin: 0 auto ;
}

.event-thumbnail img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 0 #ccc;
}

.event-breif {
  /* background-color: blueviolet; */
  font-size: 0.9rem;
  font-weight: 400;
  margin: 10px 0 0 0;
}


.event-breif em {
  font-weight: 400;
}

.btn-event {
  /* background-color: yellow; */
  position: absolute;
  top: 0;
  right: 0;
  height: 18px;
}

.btn-event-prev, .btn-event-next {
  width: 19px;
  height: 18px;
  white-space: nowrap;
  text-indent: 50px;
  overflow: hidden;
  background: url("images/back_forward.png") no-repeat;
  background-color: transparent;
  border: 0px solid rgba(255, 255, 255, 0);
  border-radius: 3px;
}

.btn-event-next {
  background-position: 100% 0;
}

.related {
  /* background-color: pink; */
  font-size: 0.9rem;
  margin-top: 10px;
}

.related-list {
  background-color: rgb(248, 248, 248);
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 26px;
  overflow: hidden;
  transition-property: all;
  transition-duration: 500ms;
}

.related-list a{
  display: block;
  line-height: 25px;
  text-indent: 25px;
}

.related-list:hover{
  height: 147px;
  padding: 10px 0;
}

/* favorite */

.favorite {
  border-radius: 5px;
  background: rgb(236, 236, 236);
  margin-top: 20px;
  padding: 10px;
  position: relative;
}

.favorite-heading {
  margin-bottom: 10px;
}

.favorite-list a{
  /* background-color: red; */
  display: inline-block;
  width: 150px;
  line-height: 1.5rem;
}

.favorite-list {
  margin-top: 10px;
  overflow: hidden;
}

.favorite-list li {
  margin: 5px 0;
  position: relative;
}

.up, .down, .stop{
  background: url(images/rank.png) no-repeat;
  width: 9px;
  height: 0;
  padding-top: 11px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}


.stop{
  background-position: 0 50%;
}
.down{
  background-position: 0 100%;
}

.favorite-more {
  /* background-color: green; */
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px 0 0;
  text-decoration-line: underline;
  text-decoration-color: #0c0c0cbe;
  color: #0c0c0cbe;
  font-size: 0.8rem;
}


/* slogan */

.slogan {
  background-color: #f3f3f3;
}


/* footer */

.footer {
  background-color: #f3f3f3;
}